.Page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loading {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;

    span {
        animation: loading01 1s infinite alternate;
        @for $i from 1 through 6 {
            &:nth-child(#{$i+1}) {
                animation-delay: #{$i*.3}s;
            }
        }
    }

    @keyframes loading01 {
        0% {
            filter: blur(1px);
            opacity: 1;
        }
        100% {
            filter: blur(2px);
            opacity: .2;
        }
    }
}
