.Table {
    margin-bottom: 0;
}

.ActionColumn {
    text-align: center;
}

.PublishColumn {
    text-align: center;
}

.ButtonPublished {
    color: #FFFFFF !important;
    background-color: #295211 !important;
    
    &:hover {
        background-color: #214111 !important;
        border-color: #214111;        
    }
}

.ButtonNotPublished {
    color: #FFFFFF !important;
    background-color: #ba3300 !important;
    
    &:hover {
        background-color: #a53000 !important;
        border-color: #a53000;
    }
}

.ButtonConfidential {
    background-color: #ffeb37;
    
    &:hover, &:focus {
        background-color: #ffe335;
        color: #000000;
        border-color: rgb(217, 217, 217);        
    }
}

.PublishInfo {
    color: #333333 !important;
}

.BarcodeText {
    border-bottom: 1px dotted;
    
    &:hover {
        cursor: pointer;    
    }
}

.FindingAidsTable {
    margin-top: 10px;
    margin-bottom: 10px;

    .PublishColumn {
        border-right: none !important;
    }

    :global .ant-table-pagination.ant-pagination {
        margin-top: 16px !important;
        margin-bottom: -10px !important;
    }

    :global tbody.ant-table-tbody tr.ant-table-placeholder td.ant-table-cell {
        border-inline-end: 0 !important;
    }

    :global .ant-table-footer {
        border-top: 1px solid rgba(5, 5, 5, 0.06) !important;
        border-right: 0 !important;
    }
}

.ExpandedParent :global td.ant-table-cell {
    background-color: #DDDDDD !important;
}

.TableViewModal {
    padding: 0;
    margin: 0;

    &:before {
        display: unset !important;
    }
    
    :global .ant-modal {
        height: -webkit-fill-available;
        max-width: 100vw;
        padding-bottom: 0;
    }

    :global .ant-modal-content {
        width: 100vw;
        height: 100vh;
        top: 0;
        overflow: hidden;
    }

    :global .ant-modal-body {
        padding: 10px;
    }
}

.ResearcherStatus {
    display: flex;
    justify-content: center;
    gap: 5px;
    
    .ResearcherStatusButton {
        cursor: pointer;
    }
}

.BadgeWithUndoButton {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    .Badge {
        cursor: pointer;
        height: 20px;
        line-height: 0px;
    }

    .UndoButton {
        height: 20px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Italic {
    font-size: 12px;
}

.Restricted {
    display: inline-block;
    background-color: #e03c3c;
    color: #FFF;
    padding: 0 8px;
    border-radius: 3px;
    margin-bottom: 3px;
}